/* --------------------------- fullscreen setting --------------------------- */
.extension-root-d774ba85-ed7c-42a2-bf6f-a74e8d8605ec {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}

/* -------------------------- react-modal animation ------------------------- */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
