.wrapper {
  .input {
    /* チェックボックスは使わないので非表示 */
    display: none;

    &:checked + .label {
      /* スイッチONの時のSwitchの背景色*/
      background-color: #35c659;

      &::before {
        /* スイッチONの時の左側余白 */
        left: 0.95em;
      }
    }
  }

  .label {
    position: relative;
    background-color: #e9e9ea;
    /* スイッチOFF時の背景色 */
    border-radius: 1em;
    /* 角丸 */
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 24px;
    width: 1.875em;
    height: 1em;
    transition: 0.2s;

    &::before {
      position: absolute;
      background-color: #ffffff;
      border-radius: 0.85em;
      content: '';
      width: 0.85em;
      height: 0.85em;
      left: 0.085em;
      transition: 0.2s ease-out;
    }
  }
}
