.enter {
  opacity: 0;
  transform: translate(0px, -10px);
}

.enterActive {
  opacity: 1;
  transform: translate(0px, 0px);
  transition:
    opacity 500ms,
    transform 500ms;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transform: translate(0px, -30px);
  transition:
    opacity 500ms,
    transform 500ms;
}
