.Resizable {
  position: absolute;
}

.Container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: filter 0.1s ease;
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0);
  pointer-events: all;
}
.Container svg {
  pointer-events: all !important;
}
.dragButton {
  z-index: 1;
  position: absolute;
  right: 48px;
  top: 4px;
}
.dragButton > svg {
  border-radius: 10px;
  transition: background-color 0.1s ease;
  padding: 7px;
}
.dragButton > svg:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.dragButton.dragging > svg {
  background-color: rgba(0, 0, 0, 0.1);
}
.dragButton.dragging > svg:hover {
  cursor: grabbing;
}
.settingButton {
  position: absolute;
  z-index: 1;
  right: 88px;
  top: 4px;
}
.settingButton > svg {
  border-radius: 10px;
  padding: 7px;
  transition: background-color 0.1s ease;
}
.settingButton > svg:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.children {
  position: relative;
  width: 100%;
  height: 100%;
}
.children > .overlay {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: grabbing;
}
