.Resizable {
  position: absolute;
  z-index: 100000;
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0);
  pointer-events: all;
}

.Container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: filter 0.1s ease;

  &.dragging {
    filter: brightness(60%);
  }

  > .dragButton {
    position: absolute;
    z-index: 1;
    right: 48px;
    top: 4px;
    transition: background-color 0.1s ease;
    border-radius: 10px;

    > svg {
      padding: 7px;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.dragging {
      cursor: grabbing;
    }
  }

  > .children {
    width: 100%;
    height: 100%;
  }
}
