.enter {
  opacity: 0;
  transform: translate(0px, -5px);
}

.enterActive {
  opacity: 1;
  transform: translate(0px, 0px);
  transition:
    opacity 200ms,
    transform 200ms;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transform: translate(0px, -5px);
  transition:
    opacity 200ms,
    transform 200ms;
}
