html {
  --extension-user-name-display: inline;
  --extension-user-icon-display: inline;
  --extension-yt-live-chat-font-size: 13px;
  --extension-yt-live-chat-spacing: 0px;
  --extension-yt-live-font-color: black;
  --extension-yt-live-secondary-font-color: rgba(0, 0, 0, 0.6);
}

body.custom-yt-app-live-chat-extension {
  #contents > #separator {
    opacity: 1;
  }

  #panel-pages.yt-live-chat-renderer {
    border-top: 1px solid var(--yt-live-chat-panel-pages-border-color);
  }

  &.clip-path-enable {
    #contents > #separator {
      opacity: 0;
      transition: opacity 200ms ease;
    }

    #panel-pages.yt-live-chat-renderer {
      border-top: 1px solid transparent;
      transition: border-top 200ms ease;
    }
  }

  #panel-pages.yt-live-chat-renderer {
    border-bottom: none;
  }

  yt-live-chat-message-input-renderer[updated-input-visuals]
    #right.yt-live-chat-message-input-renderer,
  yt-live-chat-restricted-participation-renderer[system-icons]
    #picker-buttons.yt-live-chat-restricted-participation-renderer
    > *.yt-live-chat-restricted-participation-renderer {
    display: none;
  }

  /* ------------------------ background color setting ------------------------ */
  #chat {
    #item-scroller.yt-live-chat-item-list-renderer {
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }

    &:hover {
      #item-scroller.yt-live-chat-item-list-renderer::-webkit-scrollbar-thumb {
        background-color: var(--yt-spec-icon-disabled);
      }
    }
  }

  #right-arrow-container.yt-live-chat-ticker-renderer {
    background: none;
  }

  #left-arrow-container.yt-live-chat-ticker-renderer {
    background: none;
  }

  /* --------------------------- font color setting --------------------------- */

  #message.yt-live-chat-text-message-renderer,
  #input.yt-live-chat-text-input-field-renderer,
  yt-dropdown-menu .yt-dropdown-menu[style-target='label-text'],
  #label-icon.yt-dropdown-menu,
  .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text,
  yt-live-chat-message-input-renderer,
  yt-live-chat-icon-toggle-button-renderer[use-toggled-active-state][active]#emoji
    yt-icon.yt-live-chat-icon-toggle-button-renderer,
  div#menu.yt-live-chat-text-message-renderer.custom > div.tooltip > svg,
  yt-live-chat-restricted-participation-renderer[updated-input-visuals]
    #icon.yt-live-chat-restricted-participation-renderer {
    color: var(--extension-yt-live-font-color);
  }

  #message.yt-live-chat-viewer-engagement-message-renderer,
  #label.yt-live-chat-text-input-field-renderer,
  #timestamp.yt-live-chat-text-message-renderer,
  #author-name.yt-live-chat-author-chip,
  yt-live-chat-text-message-renderer[whole-message-clickable]
    #menu.yt-live-chat-text-message-renderer,
  yt-live-chat-restricted-participation-renderer[updated-input-visuals]
    #message.yt-live-chat-restricted-participation-renderer {
    color: var(--extension-yt-live-secondary-font-color);
  }

  #author-name.member.yt-live-chat-author-chip {
    color: var(--yt-live-chat-sponsor-color);
  }

  yt-live-chat-banner-manager
    yt-live-chat-text-message-renderer
    #message.yt-live-chat-text-message-renderer {
    color: white;
  }

  #title.yt-emoji-picker-category-renderer {
    color: hsla(0, 0%, 6.7%, 0.6);
  }

  /* ---------------------------- font size setting --------------------------- */
  yt-live-chat-text-message-renderer {
    font-size: var(--extension-yt-live-chat-font-size);
  }

  yt-live-chat-viewer-engagement-message-renderer {
    font-size: calc(var(--extension-yt-live-chat-font-size) - 1px);
  }

  #message.yt-live-chat-text-message-renderer .emoji.yt-live-chat-text-message-renderer {
    width: calc(var(--yt-live-chat-emoji-size) + var(--extension-yt-live-chat-font-size) - 13px);
    height: calc(var(--yt-live-chat-emoji-size) + var(--extension-yt-live-chat-font-size) - 13px);
  }

  yt-live-chat-text-message-renderer > yt-img-shadow > img.yt-img-shadow {
    width: calc(24px + var(--extension-yt-live-chat-font-size) - 13px);
    height: calc(24px + var(--extension-yt-live-chat-font-size) - 13px);
  }

  /* ----------------------------- margin setting ----------------------------- */
  yt-live-chat-text-message-renderer {
    margin: var(--extension-yt-live-chat-spacing) 0;
  }

  yt-live-chat-text-message-renderer.yt-live-chat-banner-renderer {
    margin: 0;
  }

  /* ----------------------------- display setting ---------------------------- */
  div#items yt-live-chat-author-chip.yt-live-chat-text-message-renderer {
    display: var(--extension-user-name-display);
  }
  #author-photo.yt-live-chat-text-message-renderer {
    display: var(--extension-user-icon-display);
  }

  // yt-live-chat-renderer {
  //   background-color: rgba(250, 250, 250, 0.7);
  //   backdrop-filter: blur(4px);
  // }

  // yt-live-chat-header-renderer,
  // yt-live-chat-message-input-renderer,
  // yt-live-chat-text-message-renderer[author-is-owner],
  // yt-live-chat-ticker-renderer,
  // #card.yt-live-chat-viewer-engagement-message-renderer {
  //   background-color: transparent;
  // }

  // yt-live-chat-banner-manager,
  // yt-live-chat-restricted-participation-renderer,
  // yt-live-chat-message-input-renderer yt-live-chat-author-chip,
  // div#reaction-control-panel-overlay.yt-live-chat-renderer {
  //   display: none;
  // }

  // iron-pages#panel-pages.yt-live-chat-renderer:has(yt-live-chat-restricted-participation-renderer),
  // #panel-pages.yt-live-chat-renderer {
  //   border-bottom: none;
  // }

  // #card.yt-live-chat-viewer-engagement-message-renderer {
  //   background-color: transparent;
  //   backdrop-filter: blur(2px);
  // }

  // yt-live-chat-app #item-scroller.yt-live-chat-item-list-renderer,
  // yt-live-chat-app #categories.yt-emoji-picker-renderer {
  //   --scrollbar-width: 10px;
  //   &::-webkit-scrollbar {
  //     width: 10px;
  //   }

  //   &::-webkit-scrollbar-track {
  //     background-color: rgba(255, 255, 255, 0.1);
  //   }

  //   &::-webkit-scrollbar-thumb {
  //     background-color: rgba(100, 100, 100, 0.5);
  //     border: none;
  //   }
  // }
}
