html {
  --extension-user-name-display: inline;
  --extension-user-icon-display: inline;
  --extension-reaction-button-display: block;
  --extension-yt-live-chat-font-size: 13px;
  --extension-yt-live-chat-spacing: 0px;
  --extension-yt-live-font-color: black;
  --extension-yt-live-secondary-font-color: rgba(0, 0, 0, 0.6);
}

body.custom-yt-app-live-chat-extension {
  #contents > #separator {
    opacity: 1;
  }

  #panel-pages.yt-live-chat-renderer {
    border-top: 1px solid var(--yt-live-chat-panel-pages-border-color);
  }

  &.clip-path-enable {
    #contents > #separator {
      opacity: 0;
      transition: opacity 200ms ease;
    }

    #panel-pages.yt-live-chat-renderer {
      border-top: 1px solid transparent;
      transition: border-top 200ms ease;
    }
  }

  #panel-pages.yt-live-chat-renderer {
    border-bottom: none;
  }

  /* ------------------------ background color setting ------------------------ */
  #chat {
    #item-scroller.yt-live-chat-item-list-renderer {
      scrollbar-color: transparent transparent;
    }

    &:hover {
      #item-scroller.yt-live-chat-item-list-renderer {
        scrollbar-color: var(--yt-spec-icon-disabled) transparent;
      }
    }
  }

  #right-arrow-container.yt-live-chat-ticker-renderer {
    background: none;
  }

  #left-arrow-container.yt-live-chat-ticker-renderer {
    background: none;
  }

  #pickers-container.yt-live-chat-message-buy-flow-renderer {
    background: none;
  }

  /* --------------------------- font color setting --------------------------- */

  yt-button-view-model .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text {
    color: var(--yt-spec-text-primary);
  }

  yt-live-chat-author-chip[disable-highlighting] #author-name.yt-live-chat-author-chip {
    color: var(--yt-live-chat-disable-highlight-message-author-name-color);
  }

  yt-live-chat-paid-message-renderer #input.yt-live-chat-text-input-field-renderer {
    color: var(--yt-live-chat-text-input-field-color);
  }

  yt-live-chat-paid-message-renderer #label.yt-live-chat-text-input-field-renderer {
    color: var(--yt-live-chat-text-input-field-placeholder-color);
  }

  #message.yt-live-chat-text-message-renderer,
  #input.yt-live-chat-text-input-field-renderer,
  yt-dropdown-menu .yt-dropdown-menu[style-target='label-text'],
  #label-icon.yt-dropdown-menu,
  .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text,
  yt-live-chat-message-input-renderer,
  yt-live-chat-icon-toggle-button-renderer[use-toggled-active-state][active]#emoji
    yt-icon.yt-live-chat-icon-toggle-button-renderer,
  div#menu.yt-live-chat-text-message-renderer.custom > div.tooltip > svg,
  yt-live-chat-restricted-participation-renderer[updated-input-visuals]
    #icon.yt-live-chat-restricted-participation-renderer,
  yt-live-chat-item-list-renderer #items .yt-simple-endpoint,
  yt-live-chat-message-input-renderer[system-icons]
    #picker-buttons.yt-live-chat-message-input-renderer
    > *.yt-live-chat-message-input-renderer,
  #close-button.yt-live-chat-message-buy-flow-renderer,
  .yt-live-chat-paid-sticker-panel-renderer,
  .yt-live-chat-super-sticker-preview-renderer,
  .yt-live-chat-super-sticker-pack-backstory-renderer,
  .dim.yt-live-chat-message-buy-flow-renderer,
  #price-input.yt-live-chat-message-buy-flow-renderer
    .input-content.tp-yt-paper-input-container
    > input,
  #price-input.yt-live-chat-message-buy-flow-renderer
    .input-content.tp-yt-paper-input-container
    > iron-input,
  #price-input.yt-live-chat-message-buy-flow-renderer
    .input-content.tp-yt-paper-input-container
    > textarea,
  #price-input.yt-live-chat-message-buy-flow-renderer
    .input-content.tp-yt-paper-input-container
    > iron-autogrow-textarea,
  #price-input.yt-live-chat-message-buy-flow-renderer
    .input-content.tp-yt-paper-input-container
    > .paper-input-input,
  yt-live-chat-message-buy-flow-renderer,
  #info.yt-live-chat-message-buy-flow-renderer {
    color: var(--extension-yt-live-font-color);
  }

  .yt-live-chat-banner-renderer #message.yt-live-chat-text-message-renderer {
    color: white;
  }

  #message.yt-live-chat-viewer-engagement-message-renderer,
  #label.yt-live-chat-text-input-field-renderer,
  #timestamp.yt-live-chat-text-message-renderer,
  #author-name.yt-live-chat-author-chip,
  yt-live-chat-text-message-renderer[whole-message-clickable]
    #menu.yt-live-chat-text-message-renderer,
  yt-live-chat-restricted-participation-renderer[updated-input-visuals]
    #message.yt-live-chat-restricted-participation-renderer,
  #count.yt-live-chat-message-input-renderer,
  #header-text.yt-live-chat-paid-sticker-panel-renderer {
    color: var(--extension-yt-live-secondary-font-color);
  }

  #author-name.member.yt-live-chat-author-chip {
    color: var(--yt-live-chat-sponsor-color);
  }

  #title.yt-emoji-picker-category-renderer {
    color: hsla(0, 0%, 6.7%, 0.6);
  }

  /* ---------------------------- font size setting --------------------------- */
  yt-live-chat-text-message-renderer {
    font-size: var(--extension-yt-live-chat-font-size);
  }

  yt-live-chat-viewer-engagement-message-renderer {
    font-size: calc(var(--extension-yt-live-chat-font-size) - 1px);
  }

  #message.yt-live-chat-text-message-renderer .emoji.yt-live-chat-text-message-renderer {
    width: calc(var(--yt-live-chat-emoji-size) + var(--extension-yt-live-chat-font-size) - 13px);
    height: calc(var(--yt-live-chat-emoji-size) + var(--extension-yt-live-chat-font-size) - 13px);
  }

  yt-live-chat-text-message-renderer > yt-img-shadow > img.yt-img-shadow {
    width: calc(24px + var(--extension-yt-live-chat-font-size) - 13px);
    height: calc(24px + var(--extension-yt-live-chat-font-size) - 13px);
  }

  /* ----------------------------- margin setting ----------------------------- */
  yt-live-chat-text-message-renderer {
    margin: var(--extension-yt-live-chat-spacing) 0;
  }

  yt-live-chat-text-message-renderer.yt-live-chat-banner-renderer {
    margin: 0;
  }

  /* ----------------------------- display setting ---------------------------- */
  div#items yt-live-chat-author-chip.yt-live-chat-text-message-renderer {
    display: var(--extension-user-name-display);
  }

  #author-photo.yt-live-chat-text-message-renderer {
    display: var(--extension-user-icon-display);
  }

  #fab-container.yt-reaction-control-panel-view-model {
    display: var(--extension-reaction-button-display);
  }
}
