@charset "UTF-8";
.wrapper .input {
	/* チェックボックスは使わないので非表示 */
	display: none;
}
.wrapper .input:checked + .label {
	/* スイッチONの時のSwitchの背景色*/
	background-color: #35c659;
}
.wrapper .input:checked + .label::before {
	/* スイッチONの時の左側余白 */
	left: 0.95em;
}
.wrapper .label {
	position: relative;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
	/* スイッチOFF時の背景色 */
	border-radius: 1em;
	/* 角丸 */
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 24px;
	width: 1.875em;
	height: 1em;
	transition: 0.2s;
}
.wrapper .label::before {
	position: absolute;
	background-color: #ffffff;
	border-radius: 0.85em;
	content: "";
	width: 0.85em;
	height: 0.85em;
	left: 0.085em;
	transition: 0.2s ease-out;
}
