.color-picker-wrapper {
  position: relative;
}
.color-picker-wrapper .color-display {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.color-picker-wrapper .color-display .color-preview-background {
  background-image: linear-gradient(45deg, #dddddd 25%, transparent 25%, transparent 75%, #dddddd 75%),
    linear-gradient(45deg, #dddddd 25%, transparent 25%, transparent 75%, #dddddd 75%);
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 100%;
}
.color-picker-wrapper .color-display .color-preview {
  width: 140px;
  height: 16px;
  border-radius: 2px;
}
.color-picker-wrapper .color-picker {
  position: absolute;
  right: 0;
  z-index: 1;
}
