/* SettingsModal.scss */

.settings {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0px;

  .content {
    flex-grow: 1;
    font-size: 1.25rem;
    background-color: #f9f9f9;

    .content-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      opacity: 1;
      transition:
        height 200ms ease,
        padding 200ms ease,
        opacity 200ms ease;

      &.disable {
        height: 0px;
        padding: 0px 20px;
        opacity: 0;
        pointer-events: none;
      }

      .title-with-icon {
        display: flex;
        align-items: center;
        font-size: 14px;
      }
    }

    hr {
      border: none;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      margin: 0 20px;
    }

    .footer {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 12px 12px 4px;
      display: flex;
      justify-content: flex-end;
      background-color: #fff;
      font-size: 12px;

      .help {
        > a {
          color: #333333;
        }
      }
    }
  }
}
