.content-preset-container {
  min-height: 318px;
  padding: 1rem 1.5rem;

  .preset-item {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    margin: 10px;
    padding: 0.75rem 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 200ms ease;
    position: relative;
    transition: scale 50ms ease;

    &.dragging {
      z-index: 1;
      cursor: grabbing;
      scale: 1.02;

      * {
        cursor: grabbing;
      }
    }

    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .leftContainer {
        display: flex;
        align-items: center;

        .dragIcon {
          cursor: grab;
          padding: 0.5rem 0.25rem;
          border-radius: 5px;
          transition: background-color 200ms ease;

          &.dragging {
            cursor: grabbing;
            background-color: rgba(0, 0, 0, 0.1);
          }

          &:focus {
            outline: none;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }

        .title {
          margin-left: 0.5rem;
          font-size: 14px;
          letter-spacing: 0.1rem;
          border: none;
          padding: 0.25rem;
          border-radius: 5px;
          width: 15rem;

          &:focus {
            outline: solid 1px rgba(0, 0, 0, 0.2);
          }
        }
      }

      .rightContainer {
        transition: opacity 200ms ease;

        > svg {
          padding: 0.5rem;
          border-radius: 5px;
          transition: background-color 200ms ease;
          margin-left: 4px;
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
  .add-preset-item {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    margin: 10px;
    padding: 1.25rem 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 200ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      background-color: #f5f5f5;
    }

    > svg {
      margin-right: 0.5rem;
    }
  }
}
