.content-setting-container {
  hr {
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 2rem;
  }
  margin-top: 1rem;

  .content-setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem 2.25rem;
    opacity: 1;
    transition:
      height 200ms ease,
      padding 200ms ease,
      opacity 200ms ease;

    &.disable {
      height: 0px;
      padding: 0px 1rem;
      opacity: 0;
      pointer-events: none;
      overflow: hidden;
    }

    .title-with-icon {
      display: flex;
      align-items: center;
      font-size: 14px;

      > svg {
        margin-right: 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: #333;
        padding: 3px;
        border-radius: 5px;
        background-color: white;
        padding: 6px;
      }
    }
  }
}

.preset {
  overflow-y: scroll;
  height: 0px;
  opacity: 0;
  padding: 0px 12px;
  transition:
    height 200ms ease,
    opacity 200ms ease,
    padding 200ms ease;
  background-color: white;

  &.open {
    height: 180px;
    opacity: 1;
    padding: 12px;
  }

  .title {
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, 0.025);
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding: 1rem;
  }

  hr {
    margin: 0;
  }

  .content-setting-item {
    background-color: white;
    pointer-events: none;
    padding: 4px 0px;

    .title-with-icon {
      font-size: 12px;
    }

    .data {
      scale: 0.85;
    }
  }
}
