.content-setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  opacity: 1;
  transition:
    height 200ms ease,
    padding 200ms ease,
    opacity 200ms ease;

  &.disable {
    height: 0px;
    padding: 0px 20px;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
  }

  .title-with-icon {
    display: flex;
    align-items: center;
    font-size: 14px;

    > svg {
      margin-right: 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: #333;
      padding: 3px;
      border-radius: 5px;
      background-color: white;
      padding: 6px;
    }
  }
}
