/* SettingsModal.scss */

.settings {
  display: flex;
  flex-direction: column; // モーダルのメイン方向を縦に設定
  width: 400px; // モーダルの幅
  border-radius: 8px;
  overflow: hidden; // ボーダーの外側にコンテンツが出ないようにする
  background-color: #fff;
  letter-spacing: 0.05rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #eaeaea;

    .menu {
      font-size: 1.5rem;
      display: flex;
      .menu-item {
        padding: 1rem;
        cursor: pointer;
        color: #333;
        border-radius: 5px;
        margin-right: 0.5rem;
        transition: background-color 200ms ease;
        width: 100px;

        &.active {
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: 4px;
        }
      }
    }

    .close-button {
      cursor: pointer;
      border-radius: 10px;
      padding: 0.5rem;
      transition: background-color 200ms ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .content {
    flex-grow: 1;
    padding: 20px 20px 20px 20px;
    overflow-y: auto;
    background-color: #f9f9f9;
    height: 400px; // 任意の高さに調整可能
    font-size: 1.25rem;

    .content-item {
      display: flex;
      justify-content: space-between;

      h2 {
        margin: 0 0 10px 0;
      }
    }

    hr {
      border: none;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      margin: 20px 0;
    }
  }
}
