/* SettingsModal.scss */

.settings {
  display: flex;
  flex-direction: column; // モーダルのメイン方向を縦に設定
  width: 480px; // モーダルの幅
  border-radius: 8px;
  background-color: #fff;
  letter-spacing: 0.05rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #eaeaea;

    .menu {
      font-size: 1.5rem;
      display: flex;

      .menu-item {
        padding: 1rem 1.25rem;
        color: #333;
        border-radius: 5px;
        margin-right: 1rem;
        transition:
          background-color 200ms ease,
          color 200ms ease;
        cursor: pointer;
        min-width: 50px;
        text-align: center;
        &:hover {
          background-color: #f9f9f9;
        }

        &.selected-menu-item {
          color: #099cff;
          background-color: #e3f3ff;
        }
      }
    }

    .close-button {
      cursor: pointer;
      border-radius: 10px;
      padding: 0.75rem;
      transition: background-color 200ms ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .content {
    flex-grow: 1;
    overflow-y: visible;
    height: 400px; // 任意の高さに調整可能
    font-size: 1.25rem;
    overflow-y: scroll;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.05);
    background-color: #fff;

    .footer {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 20px 12px 20px;
      display: flex;
      justify-content: flex-end;
      font-size: 14px;

      .help {
        > a {
          color: #333333;
        }
      }
    }
  }
}
