/* SettingsModal.scss */

.settings {
  display: flex;
  flex-direction: column; // モーダルのメイン方向を縦に設定
  width: 450px; // モーダルの幅
  border-radius: 8px;
  background-color: #fff;
  letter-spacing: 0.05rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1.5rem;
    border-bottom: 1px solid #eaeaea;
    font-weight: 500;

    .menu {
      font-size: 1.75rem;
      display: flex;

      .menu-item {
        padding: 1rem;
        color: #333;
        border-radius: 5px;
        margin-right: 0.5rem;
        transition: background-color 200ms ease;
        width: 100px;
      }
    }

    .close-button {
      cursor: pointer;
      border-radius: 10px;
      padding: 0.5rem;
      transition: background-color 200ms ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .content {
    flex-grow: 1;
    overflow-y: visible;
    height: 400px; // 任意の高さに調整可能
    font-size: 1.25rem;
    overflow-y: scroll;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.05);
    background-color: #f9f9f9;

    .content-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 20px;
      opacity: 1;
      transition:
        height 200ms ease,
        padding 200ms ease,
        opacity 200ms ease;

      &.disable {
        height: 0px;
        padding: 0px 20px;
        opacity: 0;
        pointer-events: none;
      }

      .title-with-icon {
        display: flex;
        align-items: center;

        > svg {
          margin-right: 1.5rem;
          border: 1px solid rgba(0, 0, 0, 0.1);
          color: #333;
          padding: 3px;
          border-radius: 5px;
          background-color: white;
          padding: 6px;
        }
      }
    }

    hr {
      border: none;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      margin: 0 20px;
    }

    .footer {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 20px 12px 20px;
      display: flex;
      justify-content: flex-end;
      background-color: #fff;

      .help {
        > a {
          color: #333333;
        }
      }
    }
  }
}
