/* --------------------------- fullscreen setting --------------------------- */
ytd-app {
	right: 0 !important;
	scrollbar-width: none;
}

/* -------------------------- react-modal animation ------------------------- */
.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 200ms ease;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}
