/* -------------------------------- EmojiFix -------------------------------- */
.yt-live-chat-item-list-renderer {
  contain: none;
}

div#menu.yt-live-chat-text-message-renderer {
  opacity: 0;
}
div#menu.yt-live-chat-text-message-renderer.custom {
  right: 0px;
  opacity: 1;
  z-index: 1;
}

div#menu.yt-live-chat-text-message-renderer.custom > div {
  height: 32px;
  width: 32px;
}

div#menu.yt-live-chat-text-message-renderer.custom > div > svg {
  padding: 6px;
}

div#menu.yt-live-chat-text-message-renderer.custom > div > svg:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

/* カーソルを重ねる要素 */
div#menu.yt-live-chat-text-message-renderer.custom > div.tooltip {
  position: relative; /* ツールチップの位置の基準に */
  cursor: pointer; /* カーソルを当てたときにポインターに */
}

/* ツールチップのテキスト */
div#menu.yt-live-chat-text-message-renderer.custom > div.tooltip > span.tooltip-text {
  opacity: 0; /* はじめは隠しておく */
  visibility: hidden; /* はじめは隠しておく */
  position: absolute; /* 絶対配置 */
  left: 50%; /* 親に対して中央配置 */
  transform: translateX(-65%); /* 親に対して中央配置 */
  bottom: 35px; /* 親要素下からの位置 */
  display: inline-block;
  padding: 5px; /* 余白 */
  white-space: nowrap; /* テキストを折り返さない */
  font-size: 1rem; /* フォントサイズ */
  line-height: 1.3; /* 行間 */
  background: #333; /* 背景色 */
  color: #fff; /* 文字色 */
  border-radius: 3px; /* 角丸 */
  z-index: 100;
  pointer-events: none;
  transition: 0.1s ease-in;
}

div#menu.yt-live-chat-text-message-renderer.custom > div.tooltip > span.tooltip-text:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 65%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top: 5px solid #333;
}

/* ホバー時にツールチップの非表示を解除 */
div#menu.yt-live-chat-text-message-renderer.custom > div.tooltip:hover > .tooltip-text {
  opacity: 1;
  visibility: visible;
}

/* --------------------------------- skelton -------------------------------- */
.skeleton-loading {
  width: 100%;
  height: 20px;
  background: #d9d9d9;
  position: relative;
  overflow: hidden;
}
.skeleton-loading::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  position: absolute;
  top: 0;
  left: 0;
  animation: skeleton-animation 1.2s linear infinite;
}
@keyframes skeleton-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
