name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Add explicit permissions to follow security best practices
permissions:
  contents: read # CI only needs read access to repository contents

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.x
          cache: "yarn"
      - name: Install dependencies
        run: rm -rf node_modules && yarn install --immutable
      - name: Build
        run: yarn build

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.x
          cache: "yarn"
      - name: Install dependencies
        run: rm -rf node_modules && yarn install --immutable
      - name: Lint
        run: yarn lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.x
          cache: "yarn"
      - name: Install dependencies
        run: rm -rf node_modules && yarn install --immutable
      - name: Run unit tests
        run: yarn test:unit
